*{
    padding: 0; margin: 0; box-sizing: border-box;
}
.header{
    
    height: 100vh;
}
.nav__header{
    position: fixed;
    display: flex;
    height: 6rem;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background: #E6E7E8;
    z-index: 100;
}
.nav__logo img{
    padding-top: .5rem;
    height: 5rem;
    width: 5rem;
}
.nav__menu a{
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}
.nav__toggle{
    display: none;
}
.header__bg{
    height: 100vh;
    background-image: linear-gradient(
    rgba(4, 82, 4, 0.5),
    rgba(4, 82, 4, 0.5)),
    url(images/motherlylogo.png);
    background-position: center;
    background-size: cover;
}
@media screen and (max-width:768px){
    .nav__menu{
        position: absolute;
        background: #00A859;
        height: 35rem;
        width: 60%;
        margin-top: 41rem;
        right: -100%;
        display: flex;
        flex-direction: column;
    }
    .nav__menu a{
        color: #fff;
        padding: 2rem;
    }
    .nav__toggle{
        display: inline-block;
        cursor: pointer;
        font-size: 3rem;
        color: #00A859;
    }
    .show{
        right: 0;
        transition: 0.5s ease-in-out;
    }
}

/* about */
.about{
    padding: 3rem;
    height: auto;
    background: #00A859;    
}
.about__title h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
}
.about__content{
    display: flex;
    justify-content: space-between;
    /* margin: 3rem; */
    align-items: center;
}
.about__txt li{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.about__image img{
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
}

@media screen and (max-width: 768px){
    .about{
        height: auto;
    }
    .about__content{
        flex-direction: column;
        /* margin-left: -3rem; */
        align-items: left;
    }
    .about__txt li{
        font-size: .9rem;
        margin-left: -5rem;
    }
    .about__image{
        margin-top: 2rem;
    }
    .about__image img{
        height: 15rem;
        width: 15rem;
    }
}

/* products */
.product{
    height: auto;
    background: #E6E7E8;
    padding: 1rem 2rem 3rem 2rem;
}
.product__title h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
}
.swiper{
    text-align: center;
    margin-top: 3rem;
    /* width: 70%; */
}
.swiper-slide{
    text-align: center;
    background: #93CFA8;
    align-items: center;
    padding: 1rem;
    height: 50vh;
    margin: 1rem 5rem 3rem 0;
    border-radius: 10%;
}
.swiper-slide img {
    padding-top: 1rem;
    width: 80%;
    height: 80%;
    border-radius: 15%;
    box-shadow: 2px solid green;
}
.swiper-slide h1{
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
}
@media screen and (min-width:600px){
    .swiper{
        width: 30%;
    }
}

/* services */
.services{
    height: auto;
    background: #00A859;
    padding: 2rem;
}
.services__title h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
}
.services__images {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1rem;
    padding: 2rem 1rem; 
}
.service__image{
    text-align: center;
    height: 18rem;
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
}
.service__image img{
    height: 90%;
    width: 70%;
    border-radius: 25px;
}
.service__image h1{
    margin: 1rem;
    text-transform: capitalize;
}
@media screen and (max-width:768px){
    .services{
        height: auto;
        padding: 1rem;
    }
    .services__images{
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
    }
    .service__image img{
        width: 100%;
    }
}

/* contact */ 
.contact{
    height: auto;
    background: #E6E7E8;
    padding-bottom: 2rem;
}
.contact__title h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
}
.contact__content{
    display: flex;
    justify-content: space-between;
    margin: 1rem ;
}
.address h1{
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1rem;
}
.address p{
    font-size: 1.2rem;
}
.form{
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}
.form h1{
    padding-bottom: 1rem;
}
.form__area{
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 20px;
}
.button{
    padding: 1rem;
    background: #00A859;
    border: none;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.social h1{
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1rem ;
}
.social__icons a{
    font-size: 2rem;
    color: #00A859;
}
@media screen and (max-width:768px){
    .contact{
        height: auto;
    }
    .contact__content{
        flex-direction: column;
    }
    .address{
        margin-bottom: 3rem;
    }
    .social{
        padding-bottom: 2rem;
    }
}

/* footer */
 .footer{
    background-color: #000;
    margin-top: -1rem;
    height: auto;
 }
 .footer__text p{
    color: #fff;
    text-align: center;
    padding: 1rem;
 }
